# Rename this file as '.env'
DEBUG          = True or False
OPENAI_API_KEY = 'Your key here.'
MODEL          = 'The model you want to use.'
NEW_PATH       = 'The path to move the analyzed PDF files.'
